.register-container {
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    color: #555;
    margin-bottom: 10px;
}

.form-control {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
}

.error-message {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
